-- Run this verification query in Supabase SQL Editor

SELECT 
  tablename,
  policyname,
  CASE 
    WHEN qual::text ~ 'auth\\.uid\\(\\)' 
      AND qual::text !~ '\\(\\s*SELECT\\s+auth\\.uid\\(\\)' 
    THEN ' NOT OPTIMIZED'
    ELSE ' OPTIMIZED'
  END as status,
  qual::text as full_condition
FROM pg_policies
WHERE schemaname = 'public'
  AND tablename IN ('profiles', 'tenants', 'modules', 'students', 'payment_submissions', 'meetings', 'user_roles')
ORDER BY tablename, policyname;
